{
  "openapi": "3.0.0",
  "info": {
    "title": "Wanderlust API",
    "version": "1.0.0",
    "description": "API for the Wanderlust travel application"
  },
  "servers": [
    {
      "url": "https://api.wanderlust.com/v1"
    }
  ],
  "paths": {
    "/api/cookies/update-expedia": {
      "post": {
        "summary": "Update Expedia cookies",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/api/external-booking/better-deals": {
      "get": {
        "summary": "Get better deals for external bookings",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/api/hotel": {
      "get": {
        "summary": "Get hotel information",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/api/scrap/external-booking": {
      "post": {
        "summary": "Scrape external booking information",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/api/scrap/hotel": {
      "post": {
        "summary": "Scrape hotel information",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/api/search": {
      "get": {
        "summary": "Search for travel options",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    }
  }
}